$primary-text-color: rgb(55, 255, 0);

$primary-background-color: linear-gradient(
  90deg,
  rgba(224, 15, 196, 1) 0%,
  rgba(255, 139, 0, 1) 0%,
  rgba(255, 0, 196, 1) 100%
);

//$primary-background-color: radial-gradient(
//     circle,
//     rgba(238, 174, 202, 1) 0%,
//     rgba(148, 187, 233, 1) 100%
//   );

// $primary-background-color: linear-gradient(
//   90deg,
//   rgba(2, 0, 36, 1) 0%,
//   rgba(9, 9, 121, 1) 35%,
//   rgba(0, 212, 255, 1) 100%
// );

$primary-background-color: linear-gradient(
  90deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(0, 255, 147, 1) 100%
);

$primary-background-color: linear-gradient(
  90deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(5, 186, 109, 1) 100%
);
